.wrapper {
  position: absolute;
  padding-top: 140px;
  flex-direction: row;
  align-items: center;
  font-family: "Reenie Beanie", cursive;
}

.temperatureLabel {
  font-size: 400px;
  line-height: 20px;
  font-weight: 400;
  vertical-align: bottom;
}

.degreeLabel {
  padding-top: 220px;
  font-size: 50px;
  font-weight: 500;
}
