.infoGraphicCluster {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.sentimentImage {
}

.sentimentImage img {
  width: 1000px;
  height: 1000px;
}

.loading {
  font-family: "Reenie Beanie", cursive;
  font-size: 300px;
}
